<div class="container">
  <h1><%= @item.title %>

  <div class="media">
    <div class="media-body">
      <div class="media-section">
       <%= image_tag @item.picture_url %>
      </div>
      <div class="media-section">
      <%= item.
    </div>
    </div>
  </div>
</div>
